@import '../../asset/generic';

.container-detail-user{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; //70%
    height: 0; //70vh
    overflow: hidden;
    background-color: $backgourndColorPrincipal;
    border: 1px solid $white;
    box-shadow: 3px 0px 30px $pink;
}

.modal-open{
    width: 70%;
    height: 70vh;
    z-index: 20;
}

.picture-profil{
    width: 10%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    
}

.identity{
    width: 50%;
    margin: 0 auto;
    p{
        font-family: $font-rock;
        color: $pink;
        font-size: 2rem;
    }
}

.container-identity-game{
    width: 90%;
    margin: 0 auto;
    div{
        margin-top: 20px;
        &:hover svg{
            fill:$pink
            
        }
        margin-left: 10px;
        svg{
            width: 30px;
            height: 30px;
            fill:$white;
            cursor: pointer;
        }
    }
}

.identity-game{
    margin-top: 50px;
    width: 30%;
    li{
        font-family: $font-axis;
        text-align: center;
    }
    li:nth-child(n+2){
        margin-left: 10px;
    }
    li:nth-child(1){
        color: $pink;
    }
    
}



