@import '../../asset/generic';

.card-user{
    border: solid 2px $white;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
    transition: ease 0.2s all;
    background-color: rgb(10,13,29, 0.9);
    cursor: pointer;
    p{
        font-family: $font-roboto, cursive;
        padding: 10px;
        text-transform: capitalize;
        span{
            font-size: 1.2rem;
        }
    }
    .management-profil{
        div{
            &:hover svg{
                fill:$pink
            }
            margin-left: 10px;
            svg{
                width: 30px;
                height: 30px;
                fill:$white;
            }
        }
    }

    &:hover{
        background-color: $backgourndColorPrincipal;
        box-shadow:
        inset 0 0 20px rgba(245, 245, 245, 0.427),
        0 0 20px #fff,
        -2px 0 10px #fff,
        2px 0 10px #fff;
        transform: scale(1.02);
    }
}

.search-barre{
    width: 50%;
    margin: 20px auto;
    .container-input:focus-within::after{
        @include effectInput;
    }
    input{
        @include input(100%, 50px, 10px);     
    }
}

.list-type-user{
    width: 20%;
    margin: 0 auto;
    li{
        font-size: 1.5rem;
        margin-left: 10px;
        cursor: pointer;
    }
}
 .active{
    border-bottom: 2px solid $white;

 }
