@import '../../asset/_generic';

.form-create-user{
    width: 30%;
    margin: 0 auto;
    .container-input:focus-within::after{
        @include effectInput;
    }
    .container-input{
        input{
            @include input(100%, 50px, 0px);
            &:focus{
                border: solid 2px $pink;
            }   
        }
}

    input[type="submit"]{
        @include input(50%, 60px, 0px);
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        background-color: $pink;
        color: $white;
        font-family: $font-rock;
        font-size: 1.5rem;
        cursor: pointer;
        transition: ease 0.2s all;
        margin-bottom: 35px;
        &:hover{
            background-color: $white;
            color: $pink;
            border: solid 2px $pink;
        }
    }
    select{
        @include input(100%, 50px, 0px);
        background-color: $backgourndColorPrincipal;
        color: $white;
        font-family: $font-axis;
        font-size: 1.5rem;
        cursor: pointer;
        transition: ease 0.2s all;
        margin-top: 35px;
    }
    label{
        display: block;
        text-align: center;
        font-family: $font-axis;
        margin: 20px 0px 5px 0px;
        font-size: 1.5rem;
    }
    p{
        font-family: $font-axis;
        color: red;
        font-size: 1rem;
        text-align: center;
        background-color: rgba(10,13,29, 0.7);
        font-family: 'Roboto', sans-serif;
    }
}



