@import '../../asset/variable';


.form-create-user{
    width: 30%;
    margin: 0 auto;
    .container-input:focus-within::after{
        @include effectInput;
    }
    .container-input{
        input{
            @include input(100%, 50px, 0px);
        }
    }
    input[type="submit"]{
        @include inputSubmit;
    }
    
    p{
        font-family: $font-axis;
        color: red;
        font-size: 1rem;
        text-align: center;
        background-color: rgba(10,13,29, 0.7);
        font-family: 'Roboto', sans-serif;
        padding-top: 5px;
    }
    @media screen and (max-width: 1200px) {
        width: 60%;
        
    }
    @media screen and (max-width: 700px) {
        width: 90%;
        
    }
}




