@font-face {
    font-family: rock-salt;
    src: url(../asset/font/RockSalt-Regular.ttf);
};
@font-face {
    font-family: roboto;
    src: url(../asset/font/Roboto-Light.ttf);
}
@font-face {
    font-family: axis;;
    src: url(../asset/font/Axis.otf);
}

$font-rock: rock-salt;
$font-roboto: roboto;
$font-axis: axis;

$white: white;
$pink:#F01BAC;
$backgourndColorPrincipal: rgb(10,13,29);

@mixin cross{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 30px 30px 0 0;
    cursor: pointer;    
    li{
        &:nth-child(1){
            transform: rotateZ(45deg);
        }
        &:nth-child(2){
            transform: rotateZ(-45deg)  translate(1px, -1px);
        }
        border-bottom: 2px solid $white;
        width: 100%;
    }
    
}

@mixin input($width, $height, $padding){
    width: $width;
        height: $height;
        border: solid 2px $white;
        background-color: rgba(10,13,29, 0.7);
        color: $white;
        font-family: $font-roboto;
        font-size: 1.5rem;
        padding: $padding;
        position: relative;
        &:focus{
            outline: none;
            border: solid 2px $pink;
            &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: blue;                
            }
        }
      
}

@mixin backgroundCard{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70vh;
    overflow: hidden;
    background-color: $backgourndColorPrincipal;
    border: 1px solid $white;
    box-shadow: 3px 0px 30px $pink;
}
