@font-face {
    font-family: rock-salt;
    src: url(../asset/font/RockSalt-Regular.ttf);
};
@font-face {
    font-family: roboto;
    src: url(../asset/font/Roboto-Light.ttf);
}

$font-rock: rock-salt;
$font-roboto: roboto;

$white: white;
$pink:#F01BAC;
$backgourndColorPrincipal: rgb(10,13,29)

